/* Lettertype */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    font-family: "Plus Jakarta Sans", sans-serif;
}

header {
    position: sticky;
    background: linear-gradient(90deg, rgba(62,9,9,1) 0%, rgba(121,9,9,1) 40%, rgba(182,19,81,1) 91%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

header > h1 {
    color: rgb(230, 230, 230);
  }