/* Lettertype */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

#inhoud {
padding-top: 40px;
}

.flex-item {
  display: flex;
  align-items: center;
  width: 800px;
}

.flex-item > div > img { 
  width: 200px;
}

.flex-item :first-child {
  flex-grow: 1;
}

div.header {
  background: black;
}

main {
  display: flex;
}

.content {
  flex-grow: 1;
}

aside {
  width: 350px;
  background-color: rgba(255, 0, 0, 0.281);
}

.aside__title {
  font-weight: bold;
  font-size: 20px;
}

.aside__list {
  list-style-type: none;

}