div.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(215, 232, 238);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background: linear-gradient(90deg, rgba(62,9,9,1) 0%, rgba(121,9,9,1) 40%, rgba(182,19,81,1) 91%);
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: rgb(230, 230, 230);
}

#inhoud {
  padding-top: 40px;
}

.restitel {
  height: fit-content;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(44, 11, 11);
  border: 20px;
  border-color: rgb(48, 4, 4);

}

.plaatje {
  width: 300px;
  max-height: fit-content;
  object-fit: cover;
}

.naam {
  font-size: 2rem;
  font-weight: bold;
}

#list{
  list-style: none;
}

.body-div {
  margin: auto;
  width: fit-content;
  max-height: fit-content;
  
}

  
  ul li {
    
    border: 1px solid rgb(48, 4, 4);
    margin-bottom: 5px;
  }

  