/* Lettertype */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.flex-item {
    display: flex;
    align-items: center;
    width: 800px;
}

.flex-item > div > img { 
    width: 200px;
}

.flex-item :first-child {
  flex-grow: 1;
}

form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 200px;
}

main {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}
